h1{color: #808080;text-align: center; font-size: 40px; font-family: 'Open Sans';}
p{color: #808080; text-align: center; font-size:20px; font-family: 'Open Sans';}
body{background-color: rgb(50,12,82);padding-top:100px;padding-bottom:100px; }
a{font-size: 50px; font-family: 'Open Sans';}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a
{
  text-align:center;
}

html
{
  scrollbar-width:thin;
  scrollbar-color:#808080 rgb(50,12,82);
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50,12,82); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080; 
}
pre{
  text-align: center;
}
code{
  text-align: center;
  color: #808080;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.topnav {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

.topnav a {
  float: right;
  padding: 0px 10px;
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Open Sans';
  display:block;
}


.bottomnav{
  background-color: rgb(50,12,82);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.bottomnav a{
  color: #808080;
   float: left;
  display: block;
  padding: 0px 10px;
   
}


.topnav a.active {
  background-color: #808080;
  color: rgb(50,12,82);
}


.topnav1 {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  position: fixed;
}
.topnav1 a {
  float: left;
  padding: 0px 10px;
}

@media screen and (max-width:1000px){
  .topnav{
      display: none;
   }
   .topnav1{
      display:none;
   }
   .topnav a{
      display:none;
   }
   .topnav1 a{
      display:none;
   }

  .bottomnav a{
    display:none;
  }
  .bottomnav{
    display:none;
  }


}
.dropdown {
  position: fixed;
   top:0;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 75px;
  border: none;
  outline: none;
  color: #808080;
  padding: 14px 16px;
  background-color:rgb(50,12,82) ;
  font-family: 'Open Sans';/* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}

/* Add a red background color to navbar links on hover */


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(50,12,82);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    overflow: visible;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #808080;
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
   font-size: 20px;
  font-family: 'Open Sans';
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.active {
  background-color: #808080;
  color: rgb(50,12,82);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}

@media screen and (min-width:1000px){
   .dropdown{
      display: none;
   }
   .dropbtn{
      display: none;
   }
  
}
