a{font-size: 50px}
body{background-color: rgb(50,12,82);padding-top: 50px; padding-bottom: 50px;}
h1{color: rgb(206, 236, 180);text-align: center; font-size: 50px}
p{color: rgb(206, 236, 180);text-align: center; font-size: 25px}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
} 
.fullscreen{
  min-width: 100%;
  min-height: 100%;
}

.topnav {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

.topnav a {
  float: right;
  padding: 0px 10px;
  color: rgb(206, 236, 180);
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display:block;
}


.bottomnav{
  background-color: rgb(206, 236, 180);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav a{
   float: left;
  display: block;
  padding: 0px 10px;
}
.topnav a.active {
  background-color: rgb(206, 236, 180);
  color: rgb(50,12,82);
}

.topnav1 {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  position: fixed;
}
.topnav1 a {
  float: left;
  padding: 0px 10px;
}
