h1{color: white;text-align: center; font-size: 50px;}
p{color: white; text-align: center; font-size:25px;}
body{background-color: rgb(50,12,82);}
a{font-size: 50px}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.news{
   color: white;
    background-color: rgb(50,12,82);
    font-size: 20px;
    position: fixed;
}

.topnav {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

.topnav a {
  float: right;
  padding: 0px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  display:block;
}


.bottomnav{
  background-color: rgb(50,12,82);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
   padding-top: 25px;
}
.bottomnavmobile{
  background-color: rgb(50,12,82);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
   padding-top: 25px;
}

.bottomnav a{
  color: white;
   float: left;
  display: block;
  padding: 0px 10px;
}
.bottomnavmobile a{
  color: white;
   float: left;
  display: block;
  padding: 0px 10px;
}
.topnav a.active {
  background-color: white;
  color: rgb(50,12,82);
}

.topnav1 {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  position: fixed;
}
.topnav1 a {
  float: left;
  padding: 0px 10px;
}

@media all and (orientation: portrait) {
   .topnav{
      display: none;
   }
   .topnav1{
      display:none;
   }
   .topnav a{
      display:none;
   }
   .topnav1 a{
      display:none;
   }
      .bottomnav{
      display:none; 
   }
   .bottomnav a{
      display: none;
   }
}
.dropdown {
   float: right
  position: fixed;
   top:0;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 50px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color:rgb(50,12,82) ;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
   color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
   font-size: 50px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
   color: black;
}
@media all and (orientation: landscape){
   .dropdown{
      display: none;
   }
   .dropbtn{
      display: none;
   }
     .bottomnavmobile{
      display:none;
   }
   .bottomnavmobile a{
      display:none;
   }
}
