h1{color: white;text-align: center; font-size: 300px;}
body{background-color: rgb(50,12,82);}
a{font-size: 50px}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.topnav {
  background-color: rgb(50,12,82);
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

.topnav a {
  float: left;
  padding: 0px 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display: block
}

.bottomnav{
  background-color: rgb(50,12,82);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav a{
   float: left;
  display: block;
  padding: 0px 10px;
}
