body{
  scroll-behavior:smooth;
}
.icon-bar {
  width: 100%;
 position:fixed;
  overflow: auto;
  bottom:0;

}

.icon-bar a {
  float: left;
  width: 10%;
  text-align: center;
  
  color: white;
  
}
figcaption
{
text-align:center;
font-family: 'Open Sans'
}
@media (prefers-color-scheme: dark) {
	hr{height:2px;background-color:#ededed; border: none;}
	h1{color: #ededed; background-color:#121212; text-align: center;  font-family: 'Open Sans';}
	p{color: #ededed; background-color:#121212; text-align: center;  font-family: 'Open Sans';}
	body{background-color: #121212; /*background-image: url("https://unblast.com/wp-content/uploads/2018/10/Sky-Stars-Pattern.jpg");background-size: cover; background-position: center;*/ padding-top:10vw;padding-bottom:10vw; }
	a:link {text-decoration: none; color: white;font-family: 'Open Sans';}
	a:visited {text-decoration: none; color: white; font-family: 'Open Sans';}
	a:hover {text-decoration: none; color: white; font-family: 'Open Sans';}
	a:active {text-decoration: none; color: white; font-family: 'Open Sans';}
  .icon-bar {
 background-color:#121212;
}

.icon-bar a {

  
  color: #ededed;

}
  figcaption
  {
	color: #ededed;
  }
	h2{color: #ededed;text-align: center;  font-size:1000%; font-family: 'Open Sans';}
	.topnav {
  background-color: #121212;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index:1;
  position:fixed;
  display: flex;
 justify-content: center;

   
}

.topnav a {
  
   top: 10px;
  color: #ededed;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans';
  display:block;
}



}
@media (prefers-color-scheme: light) {
	hr{height:2px;background-color:#121212; border: none;}
	h1{color: #121212; background-color:#ededed; text-align: center;  font-family: 'Open Sans';}
	p{color: #121212; background-color:#ededed; text-align: center;  font-family: 'Open Sans';}
	body{background-color: #ededed; /*background-image: url("https://unblast.com/wp-content/uploads/2018/10/Sky-Stars-Pattern.jpg");background-size: cover; background-position: center;*/ padding-top:10vw;padding-bottom:10vw; }
	a:link {text-decoration: none; color: #121212;font-family: 'Open Sans';}
	a:visited {text-decoration: none; color: #121212; font-family: 'Open Sans';}
	a:hover {text-decoration: none; color: #121212; font-family: 'Open Sans';}
	a:active {text-decoration: none; color: #121212; font-family: 'Open Sans';}
	h2{color: #121212;text-align: center;  font-size:1000%; font-family: 'Open Sans';}
	figcaption
	{
	color: #121212
	}
	  .icon-bar {
 background-color:#ededed;
		  
}

.icon-bar a {

  
  color: #121212;
}
	.topnav {
  background-color: #ededed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index:1;
  position:fixed;
  display: flex;
 justify-content: center;

   
}

.topnav a {
  
   top: 10px;
  color: #121212;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans';
  display:block;
}



}
 .yt
{
  
  margin-bottom: 10%;
  margin-top: 10%;
}
 @media (orientation: landscape){
   figcaption
   {
     font-size:1vw
}
   .icon-bar
   {
    font-size: 1.8vw;
   }

.mySlides {display:none;width:50%;margin-left:auto; margin-right:auto;}
.card1
	 {
		 display:block;
		 width:50%;
		 margin-right:auto;
		 margin-left:auto;
	 }
   .topnav a {

  font-size: 4vw;

}
	 .header{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: 3vw;}
   p{font-size:2vw;}
   h1:hover{overflow:visible;white-space: normal;}
	 .image
	 {
	    width:100%;
    
	 }

 	 .card {
  width:23%;
  float:left;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
		
}
	

    .center {

  width: 30%;
   }
}
 @media (orientation:portrait){
   .icon-bar
   {
    font-size: 1.8vh;
    
   }
.mySlides {display:none;width:100%;}
   figcaption
 {
     font-size:2vh;
}
   .topnav a {
  font-size: 5vh;
  
}
   h1{font-size: 3vh; margin-top:10vh}
   p{font-size:2vh;}
   .center{
     width:100%;
   }
	 .image
	 {
	    width:100%;
	 }
	 .card {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
	 	 .card1 {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
}
