h1{color: #17aa5c;text-align: center; font-size: 200%; font-family: 'Open Sans';}
p{color: #17aa5c; text-align: center; font-size:100%; font-family: 'Open Sans';}
body{background-color: black; padding-top:100px;padding-bottom:100px; }
a:link {text-decoration: none; color: #17aa5c;font-size:20px; font-family: 'Open Sans';}
a:visited {text-decoration: none; color: #17aa5c;font-size:20px; font-family: 'Open Sans';}
a:hover {text-decoration: none; color: #17aa5c;font-size:20px; font-family: 'Open Sans';}
a:active {text-decoration: none; color: #17aa5c;font-size:20px; font-family: 'Open Sans';}
 
 @media screen and (min-width:1000px){
	 h1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
   h1:hover{overflow:visible;white-space: normal;}
	 .image
	 {
	    width:100%;
    
	 }

 	 .card {
  width:23%;
  float:left;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
		
}
	

    .center {

  width: 30%;
   }
}
 @media screen and (max-width:1001px){
   .center{
     width:100%;
   }
	 .image
	 {
	    width:100%;
	 }
	 .card {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
	 	 .card1 {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
		
		.context-menu {
            position: absolute;
            text-align: center;
            background: black;
		overflow: auto;
		
       
        }
		.context-menu ul {
			padding: 0px;
			margin: 0px;
			min-width: 150px;
			list-style: none;
			
		}

		.context-menu ul li {
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.context-menu ul li a {
			text-decoration: none;
			color: #17aa5c;
			font-family: 'Open Sans';
			display: block;
		}
	.context-menu ul li a.active {
			 background-color: #01a85c;
  			color: black;
		}

		


figcaption {

	text-align:center;
	
}


a
}
  text-align:center;
}

pre{
  text-align: center;
}
code{
  text-align: center;
  color: #17aa5c;
}




.topnav {
  background-color: black;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  
  display: flex;
 justify-content: center;
   
}

.topnav a {
  
   top: 10px;
  color: #17aa5c;
  text-align: center;
  text-decoration: none;
  font-size: 500%;
  font-family: 'Open Sans';
  display:block;
}
