body{
  scroll-behavior:smooth;
}
.fa-facebook{
  color: #3b5998;
}
.fa-instagram{
  color:#8a3ab9;
}
.fa-twitter{
  color: #00acee;
}
.fa-youtube{
  color:#FF0000;
}
.fa-twitch{
  color:#6441a5;
}
.fa-reddit{
  color:#FF5700;
}
.fa-snapchat{
  color:#FFFC00;
}

.fa-steam{
  color: #00adee
}
.fa-map{
  color:#34A56F;
}
.icon-bar {
  width: 100%;
 position:fixed;
  overflow: auto;
  bottom:0;

}

.icon-bar a {
  float: left;
  width: 10%;
  text-align: center;
  
  color: white;
  
}
figcaption
{
text-align:center;
font-family: 'Open Sans'
}

	
	h1{color: #fffeff;  background-color:#000100; text-align: center;  font-family: 'Open Sans';}
	p{color: #fffeff; text-align: center;  font-family: 'Open Sans';}
	body{background-color: #000100; /*background-image: url("https://www.ci.sandy.or.us/sites/default/files/imageattachments/library/page/14271/hearts-37308_1280.png");*/background-repeat: repeat; background-attachment: fixed; background-size:contain; background-position: center center;  padding-top:10vh; padding-bottom:10vh;}
	a:link {text-decoration: none; color: #fffeff;font-family: 'Open Sans';}
	a:visited {text-decoration: none; color: #fffeff; font-family: 'Open Sans';}
	a:hover {text-decoration: none; color: #fffeff; font-family: 'Open Sans';}
	a:active {text-decoration: none; color: #fffeff; font-family: 'Open Sans';}
	
	figcaption{
		border-color:#fffeff;
    background-color:#000100;
	}
	.blog{
		border-color:#fffeff;
    background-color:#000100;
	}
  .icon-bar {
 background-color:#000100;
}
  .image{
    border-color: #fffeff;
  }
.icon-bar a {

  
  color: #fffeff;

}
  figcaption
  {
	color: #fffeff;
  }
	h2{color: #fffeff;text-align: center;  font-size:1000%; font-family: 'Open Sans';}
	.topnav {
  background-color: #000100;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index:1;
  position:fixed;
  display: flex;
 justify-content: center;

   
}

.topnav a {
  
   top: 10px;
  color: #fffeff;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans';
  display:block;
}





 .yt
{
  
  margin-bottom: 10%;
  margin-top: 10%;
}
 @media (orientation: landscape){
  
   figcaption
   {
     font-size:1vw;
     border-style:solid;
     border-radius:0 0 1vw 1vw
     
}
   .icon-bar
   {
    font-size: 2vw;
   }

.mySlides {display:none;height:50vh;margin-left:auto; margin-right:1%;float:left; }
   
.card1
	 {
		 display:block;
		 width:50%;
		 margin-right:auto;
		 margin-left:auto;
    
	 }
   .topnav a {

  font-size: 4vw;

}
	 .header{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: 3vw;}
   p{margin-top:0px;}
   .blog{
     font-size:2vw;
margin-right:5vw;
    height:50vh;
     overflow:auto;
     border-style:solid;
    
   
   }
   .side:after{
       content: "";
  clear: both;
  display: table;
     
}
   h1:hover{overflow:visible;white-space: normal;}
	 .image
	 {
	    width:100%;
    border-style: solid;
     border-radius: 1vw 1vw 0 0;
	 }

 	 .card {
  width:23%;
  float:left;
 margin-top:13%;
  margin-right: 1%;
  margin-left: 1%;
		 
     
     
}
	

    .center {

  width: 30%;
   }
}
 @media (orientation:portrait){
    .blog{
     font-size:2vw;

   
      
     
   }
   p{margin-top:0;}
   
   .icon-bar
   {
    font-size: 2.5vh;
   
   }
.mySlides {display:none;width:100%; margin-top:5vh;}
   figcaption
 {
     font-size:2vh;
}
   .topnav a {
  font-size: 5vh;
  
}
   
   h1{font-size: 3vh; margin-top:10vh}
   p{font-size:2vh;}
   .center{
     width:100%;
   }
	 .image
	 {
	    width:100%;
	 }
	 .card {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
	 	 .card1 {
  
 width:100%;
  float:left;
  margin-bottom: 100px;
 
}
}
