 h1{
      box-sizing: content-box;
  border: none;
  color: rgb(51, 51, 51);
  text-align: center;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
 }
 
 p
 {
	    box-sizing: content-box;
  border: none;
  color: rgb(51, 51, 51);
  text-align: center;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
 }
 .topnav
 {
	    box-sizing: content-box;
  border: none;
  color: rgb(51, 51, 51);
  text-align: center;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
 }